    <!-- Top image section  -->
    <section>
            <div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" data-src="images/background.jpg" uk-img>
                <h1 class="uk-text-bolder">About</h1>
            </div>
    </section>

    <!-- About section  -->
        <section class="body-color uk-margin-remove">
        <h1 class="uk-text-center uk-padding-small uk-text-uppercase uk-text-bold">Our Services</h1>
        <div class="uk-margin-left uk-padding uk-padding-remove-top uk-margin-right uk-child-width-1-3@m uk-text-center" uk-grid uk-scrollspy="cls: uk-animation-fade; target: .hover-box; delay: 200;">
            <div class="uk-box-shadow-hover-medium hover-box uk-padding">
                <img src="images/user.png" alt="user image" style="width: 100px; ">
                <h5 class="">Ravikesh Yadav</h5>
                <p  class="uk-margin-remove">Lorem ipsum dolor sit amet consectetur adipisicing elit. At nihil natus earum nisi aut deserunt </p>
            </div>
            <div class="uk-box-shadow-hover-medium hover-box uk-padding">
                <img src="images/user.png" alt="user image" style="width: 100px; ">
                <h5 class="">Ravikesh Yadav</h5>
                <p  class="uk-margin-remove">Lorem ipsum dolor sit amet consectetur adipisicing elit. At nihil natus earum nisi aut deserunt </p>
            </div>
            <div class="uk-box-shadow-hover-medium hover-box uk-padding">
                <img src="images/user.png" alt="user image" style="width: 100px; ">
                <h5 class="">Ravikesh Yadav</h5>
                <p  class="uk-margin-remove">Lorem ipsum dolor sit amet consectetur adipisicing elit. At nihil natus earum nisi aut deserunt </p>
            </div>
            <div class="uk-box-shadow-hover-medium hover-box uk-padding">
                <img src="images/user.png" alt="user image" style="width: 100px; ">
                <h5 class="">Ravikesh Yadav</h5>
                <p  class="uk-margin-remove">Lorem ipsum dolor sit amet consectetur adipisicing elit. At nihil natus earum nisi aut deserunt </p>
            </div>
            <div class="uk-box-shadow-hover-medium hover-box uk-padding">
                <img src="images/user.png" alt="user image" style="width: 100px; ">
                <h5 class="">Ravikesh Yadav</h5>
                <p  class="uk-margin-remove">Lorem ipsum dolor sit amet consectetur adipisicing elit. At nihil natus earum nisi aut deserunt </p>
            </div>
            <div class="uk-box-shadow-hover-medium hover-box uk-padding">
                <img src="images/user.png" alt="user image" style="width: 100px; ">
                <h5 class="">Ravikesh Yadav</h5>
                <p  class="uk-margin-remove">Lorem ipsum dolor sit amet consectetur adipisicing elit. At nihil natus earum nisi aut deserunt </p>
            </div>
        </div>
    </section>

