
    <!-- Top image section  -->
    <section>
            <div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" data-src="images/background.jpg" uk-img>
                <h1 class="uk-text-bolder">Gallery</h1>
            </div>
    </section>


    <section class="body-color">
        <!-- <h1 class="uk-text-center uk-text-uppercase uk-text-bold">Contact Us</h1> -->
        <div class="uk-child-width-1-2@s uk-flex-middle" uk-grid>
            <div >
                <h1 class="uk-padding uk-padding-remove-bottom">Get In Touch</h1>
                <div class="uk-padding uk-padding-remove-top">
                    <p><span class="uk-text-bold">Photography Pvt Ltd.</span>
                        No 23/1, 2nd Floor, 1st Cross, J.C Road,
                        Next to “Poornima Theater”,
                        Bangalore -560027
                    </p>
                    <p><span class="uk-text-bold"> 7411966489 </span></p>
                </div>
            </div>
            <div class="uk-padding" style="background-color: rgb(235, 180, 240);">
                <form class="uk-margin-left">
                    <legend class="uk-legend">Send Us A Message</legend>
                    <div class="uk-margin">
                        <input class="uk-input" type="text" placeholder="Name">
                    </div>
                    <div class="uk-margin">
                        <input class="uk-input" type="email" placeholder="Email">
                    </div>
                    <div class="uk-margin">
                        <input class="uk-input" type="text"  pattern="[0-9]{1}[0-9]{9}" placeholder="Mobile">
                    </div>
                    <div class="uk-margin">
                        <textarea class="uk-textarea" rows="5" placeholder="Message"></textarea>
                    </div>
                    <div>
                        <button class="uk-button uk-align-right uk-button-secondary">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

   